.resultList {
  height: 6rem;
  width: 30rem;
  position: relative;
  margin: auto;
  border: 1px dashed var(--color-primary-light-3);
}

.perfumeEllipsis {
  position: relative;
  display: block;
  width: 20rem;
  margin-right: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.resultImgWrapper {
  width: 5em;
  height: 5em;
  display: inline-block;
  position: absolute;
}
.informWrapper {
  position: absolute;
  display: flex;
  margin: auto;
  left: 5rem;
  top: 3rem;
}

.detailButton {
  position: absolute;
  top: -250%;
  margin-left: 13em;
}
.detailButton > button {
  border-radius: 3px;
  background-color: aliceblue;
  font-family: "Noto Sans KR", sans-serif;
  padding: 0 0.5rem 0 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .detailButton > button {
    padding: 0;
  }
}
