/*
footer css
랜딩페이지의 footer에 적용되는 CSS
@author Jackson
@version 1.0.0
생성일 2022-03-10
마지막 수정일 2022-03-14
*/

.footer {
  margin-top: 10rem;
  padding: 9.6rem 0;
  border-top: 1px solid #eee;
}

.layout {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  column-gap: 10rem;
}

.footerLogo {
  width: 40%;
}

.footerSection {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.footerHeading {
  font-size: 2rem;
  font-weight: 600;
  color: #555;
}

.footerContent {
  font-size: 1.6rem;
}
.footerLink {
  font-size: 1.6rem;
  cursor: pointer;
}
