.searchBar {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.searchIcon {
  fill: #777;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: -3rem;
  z-index: 1;
}

.searchInput {
  border: 1px solid rgba(119, 119, 119, 0.294);
  border-radius: 0.5rem;
  padding: 1rem 1.2rem 0.8rem 4rem;
  outline: none;
  width: 100%;
  font-size: 1.2rem;
  color: #555;
}

.searchInput::placeholder {
  color: #999;
}

.deleteIcon {
  fill: #777;
  width: 1.8rem;
  margin-left: -3rem;
}

.deleteIcon:hover {
  fill: #555;
}

@media (max-width: 800px) {
  .searchBar {
    display: none;
  }
}
