.logoWrapper {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.logoWrapper:hover {
  cursor: pointer;
}

.logoImage {
  object-fit: contain;
}
