.container {
  border-bottom: 1px solid rgba(119, 119, 119, 0.294);
}

.layout {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  height: 8rem;
}

.loginButton:hover {
  background-color: var(--color-primary-dark);
}

.authGuide {
  display: flex;
  column-gap: 1rem;
}

.authText {
  text-decoration: none;
  color: #777;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.authText:hover {
  color: var(--color-primary);
}

/* 회원, 검색창 묶음 */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 20%;
}

/* 햄버거 내브바 닫기 버튼 */

.mobileSearchToggle {
  fill: #777;
  width: 2.5rem;
  margin-left: 1rem;
  display: none;
}

.accountIcon {
  fill: #777;
  width: 3rem;
}

@media (max-width: 800px) {
  .mobileSearchToggle {
    display: block;
  }
  .authGuide {
    display: none;
  }
}
