.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.container > header {
  font-size: 3rem;
  margin-bottom: 1em;
}
.container > div > input {
  border: 0;
  border-radius: 15px;
  margin-bottom: 1em;
  outline: 0;
  font-size: 1.5em;
  padding-left: 1.5em;
  height: 2.4em;

  background-color: rgb(233, 233, 233);
}

.container > div {
  margin-bottom: 1em;
  text-align: center;
}

.container > button {
  margin-top: 2em;
}
