.container {
  max-width: 1200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.listWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulWrapper {
  display: flex;
  list-style: none;
  justify-content: center;
}

.listItem {
  margin: 2em 2em;
  text-align: center;
  align-items: center;
}
.imgContainer {
  width: 10em;
  height: 10em;
  position: relative;
  margin: auto;
}

.header {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  white-space: nowrap;
  font-size: 4em;
}

.buttonContainer > button {
  padding: 0.5em 0.5em;
  background-color: var(--color-grey-light-2);
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

.buttonContainer > button:hover {
  color: var(--color-grey-dark-1);
  background-color: var(--color-primary-light-3);
}

@media screen and (max-width: 768px) {
  .listItem > div > button {
    font-size: 0.5em;
  }
  .ulWrapper {
    display: block;
    position: absolute;
    top: 40%;
  }
}

.reslist {
  margin: 1rem;
  padding: 1rem;
}
