.container {
  max-width: 1200px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.perfumeList {
  position: absolute;
  overflow: hidden;
  height: auto;
  left: 50%;
  transform: translate(-50%);
}
