.container {
  max-width: 1200px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.perfumeList {
  position: absolute;
  height: auto;
  left: 50%;
  margin-top: 10rem;
  transform: translate(-50%);
}

.emptyText {
  margin-top: 5rem;
  font-size: 2rem;
  white-space: nowrap;
}

.innerBox {
  display: flex;
}
.innerBox :first-child {
  margin: auto;
}

.pageBar {
  display: flex;
  margin-top: 3rem;
}
