.container {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 13em auto;
}

.imageContainer {
  width: 30rem;
  height: 30rem;
  position: relative;
}

.image {
  position: absolute;
}

.title {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: bold;
}

.content {
  margin: 1rem;
  font-size: 2.3rem;
}

.btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.btnContainer {
  text-align: center;
  margin: 0.5rem 0;
}
