.pagNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;
}

.pagBtn {
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 0;
  background: var(--color-primary-light-3);
  color: var(--color-grey-dark-1);
  font-size: 1rem;
}

.pagBtn:hover {
  background: var(--color-primary-light-1);
  color: var(--color-grey-light-1);
  cursor: pointer;
  transform: translateY(-2px);
}

.pagBtn:disabled {
  background: grey;
  cursor: revert;
  transform: revert;
}

.pagBtn:aria-current {
  background: red;
  font-weight: bold;
  cursor: revert;
  transform: revert;
}
