/*
리뷰 리스트 css
리뷰 리스트 css
@author Wendy
@version 1.0.0
생성일 2022-03-17
마지막 수정일 2022-04-06
*/

.container {
  max-width: 1200px;
  margin: 5rem auto;
}

.myList {
  list-style: none;
  margin: 2rem 1rem;
}

.delBtn {
  border-radius: 5px;
  border: 1px solid var(--color-grey-dark-4);
  padding: 1rem;
  background: var(--color-primary);
  color: var(--color-grey-light-1);
  cursor: pointer;
}

.editBtn {
  border-radius: 5px;
  border: 1px solid var(--color-grey-dark-4);
  padding: 1rem;
  background-color: var(--color-primary-shade);
  cursor: pointer;
}

.title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.content {
  font-size: 3rem;
}

.oneReview {
  display: flex;
  display: block;
  padding-bottom: 1rem;
  border-bottom: 1px dashed var(--color-primary-light-2);
  margin-top: 2rem;

  width: 80%;
  padding: 0 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btnContainer {
  display: flex;
  align-items: center;
}

.starBox {
  z-index: 1000;
  margin-left: 2rem;
  margin-right: 12rem;
  height: 4rem;
  overflow: hidden;
}

.pointOfStar {
  z-index: 10;
  height: 4rem;
  width: 13rem;
}

.backStar {
  z-index: -10;
  position: absolute;
  margin-left: 2rem;
  margin-top: -4rem;
  width: 13rem;
  height: 4rem;
}

.reviewContent {
  display: block;
  width: 10px;
  padding: 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

@media (max-width: 800px) {
  .content {
    font-size: 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .oneReview {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
}

.label {
  text-align: center;
}
