.container {
  border-bottom: 1px solid rgba(119, 119, 119, 0.294);
}

.layout {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  height: 8rem;
}

.logoWrapper {
  width: 8rem;
  height: 8rem;
  position: relative;
}

.logoWrapper:hover {
  cursor: pointer;
}

.logoImage {
  object-fit: contain;
}

.navigation {
  display: flex;
  column-gap: 8rem;
}

.navItem {
  list-style: none;
}

.navLink:link,
.navLink:visited {
  text-decoration: none;
  color: #555;
  font-size: 1.6rem;
  font-weight: 600;
}

.navLink:hover,
.navLink:active {
  color: var(--color-primary);
}

.navLinkActive:link,
.navLinkActive:visited {
  color: var(--color-primary);
}

.searchBar {
  display: flex;
  align-items: center;
  flex: 0 0 20%;
}

.searchInput {
  border: 1px solid rgba(119, 119, 119, 0.294);
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 4rem;
  outline: none;
  width: 100%;
  font-size: 1.4rem;
  color: #555;
}

.searchInput::placeholder {
  color: #999;
}

.searchIcon {
  fill: #777;
  width: 1.8rem;
  margin-right: -3rem;
  z-index: 1;
}

.deleteIcon {
  fill: #777;
  width: 1.8rem;

  margin-left: -3rem;
}

.deleteIcon:hover {
  fill: #555;
}

/* .loginButton {
  background-color: var(--color-primary);
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.3s;
} */

.loginButton:hover {
  background-color: var(--color-primary-dark);
}

.authGuide {
  display: flex;
  column-gap: 1rem;
}

.authText {
  text-decoration: none;
  color: #777;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.authText:hover {
  color: var(--color-primary);
}
